.navbar-fixed, .nav, nav{

	background-color: #EE6E73 !important;

}



.head{

	position: absolute;

	width: 100%;

	min-height: 20vh;

	left: 0;

	top: 0;

	background-color: #EE6E73 !important;

	z-index: 0;

}



.main{

	position: relative;

	margin-top: 10vh;

}



.back-img {

	background-image:url("../img/upEvent/bg.jpg");

	min-height: 351px;

	min-width: 851px;

	line-height: 0;

	height: auto;

	color: rgba(255,255,255,9);

	z-index: -1;

	background-size: cover;

	background-position: center;	

}



.head1{

	background-image:url("../img/upEvent/bg.jpg");

	background-size: cover;

	background-position: center;	

	z-index: -1;

	min-height: 351px;

}



.address{

	background-color: #a1a1a1;

	color: #616161;

}



.address p{

		font-size: 10px;

		margin-top: 0;

		padding-top: 0;

}



.address h6{

	margin-bottom: 0;

	padding-bottom: 0;

}



.button{

	background-color: #EE6E73;

}



.button:hover{

	background-color: #EE6E73;

}


.button:active {
	background-color: #EE6E73;
}


.button:visited {
	background-color: #EE6E73;
}





.back-b{

	position: absolute;

	top: 36%;

	left: 80px;

	background-color: #ffeb3b;

}



.back-b1{

	position: absolute;

	top: 375px;

	left: 40px;

	background-color: #ffeb3b;

}

.back-b:hover, .back-b1:hover {
	background-color: #ffeb3b;
}

.back-b:visited, .back-b1:visited {
	background-color: #ffeb3b;
}


.footer{

	margin-top: 20px;

	margin-bottom: 30px;

	color: rgba(0,0,0,.4);

}



.footer a{

	color: rgba(0,0,0,.4);

}


#preloader{
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, .8);
}

.load{
  margin: 0 auto;
}

.spinner-red, .spinner-red-only{
  border-color: #EE6E73 !important;
}

.pur{
	margin-top: 15px;
	margin-bottom: 10px;
}

.partner ul li{
	list-style: disc !important;
	margin-left: 30px;
}

.borderR{
	border-color: red !important;
}